.serviceForm >div {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
/* .serviceForm {
    display: flex;
    flex-direction: column;
} */
.serviceForm label {
    font-size: 1.1rem;
}

.button {
   
    padding: 6px;
    border: 4px solid whitesmoke;
    border-radius: 5px;
    margin: 5px 10px;
    background-color: #386641;
    color: whitesmoke;
    box-sizing: border-box;
}

.button:hover {
    background-color: whitesmoke;;
    border: 4px solid #386641;
    color: #386641;
    cursor: pointer;
    box-sizing: border-box;

}